:root{
   --shadow: #F7F481;
   --amarelo-claro:#F7F481;
   --branco: white;
   --preto: black;
   --body-background: rgb(12, 12, 12);
   --modo-claro-letra: rgba(0, 0, 0, 0.884);
   --modo-claro-background: rgba(255, 255, 255, 0.925);
}


body{
   background-color: white;
   font-family: "Nanum Gothic",Arial, Helvetica, sans-serif;
   margin: 0px;
}

h1, h2, h3, p{
   margin: 0px;
}

img, embed{
   width: 100%;
   display: block;
}

li{
   list-style: none;
}

h1 {
   color: white;
   font-size: 8rem;
   animation: backInDown;
   animation-duration: 2s;
}

a {
   text-decoration: none;
   color: var(--branco);
}

.menu{
   background-image: url(/MoonStore/Img/288991585_1215573832535911_8840385145331829242_n.jpg);
   background-repeat: no-repeat;
   padding: 18rem;
   animation: backInUp;
   animation-duration: 1s;
}

.login{
   display: flex;
   justify-content: flex-end;
   background: #F7F7F7;
   text-align: right;
   padding: 1rem;
}

.login a{
   font-size: 1.5rem;
   margin: 1rem;
   color: #3a3a3a;
}

.login a::after{
   content: "";
   width: 0px;
   height: 2px;
   position: relative;
   display: block;
   background: #F0B2BF;
   transition: 0.5s;
}

.login a:hover::after{
   width: 100%;
}

.logo{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5rem 0;
   gap: 2rem;
   filter: drop-shadow(0 0 0.1rem black);
}

.logo img{
   width: 250px;
}


.menu-itens{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   gap: 4rem;
}

.menu-itens a{
   padding: 1rem 0;
   color: var(--branco);
   font-size: 2rem;
   transition: 0.3s;
   filter: drop-shadow(0 0 0.1rem black);
}

.menu-itens a::after{
   content: "";
   width: 0px;
   height: 2px;
   position: relative;
   display: block;
   background: #F0B2BF;
   transition: 0.5s;
}

.menu-itens a:hover::after{
   width: 101%;
}

.fundo{
   display: grid;
   grid-template-columns: 1fr 1fr;
   place-items: center;
   gap: 10rem 4rem;
   padding: 10rem 0;
}


.fundo img{
   object-fit: cover;
   object-position: top right;
   width: 1000px 800px;
   border-radius: 2rem;
   margin-top: 120px;
   margin-right: 50px;
   box-shadow: 0px 0px 20px black;
}

.fundo img:hover{
   box-shadow: 0px 0px 50px black;
   transition: 0.5s;
}

.contatos{
   display: flex;
   gap: 5rem;
   justify-content: center;
   padding: 5rem 0;
}

.contatos a{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.2rem;
   font-size: 1.3rem;
   transition: 0.3s;
   color: var(--preto);
}

footer{
   background: rgb(224, 224, 224);
}

footer img{
   width: 2rem;
}

.contatos a:hover{
   color: #F0B2BF;
   filter: drop-shadow(0 0rem 0.01rem #F0B2BF);
}

.texto-home{
   display: grid;
   font-family: "nanum gothic";
   grid-column: 1;
   text-align: right;
   align-self: start;
   padding: 2rem;
}
.texto-home h2{
   font-size: 4rem;
   color: #3a3a3a;
}

.texto-home p{
   font-size: 3rem;
   color: #3a3a3a;
   margin-top: 5rem;
}


.texto-home span{
   font-size: 3rem;
   color: #CEA65C;
}

.section-bg{
   background-color: #F7F7F7;
   box-shadow: 0 -300px 0 #F7F7F7;
}

.section img{
   width: 300px;
   border-radius: 1rem;
   box-shadow: 0 0 1px rgb(44, 44, 44);
   border: 1px solid #f0f0f0;
   filter: drop-shadow(0 0 1rem rgb(214, 214, 214));
   transition: 0.3s;
}

.section img:hover{
   filter: drop-shadow(0 0 2rem rgba(0, 0, 0, 0.397));
}

.section{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 2rem;
   justify-items: center;
   padding: 10rem;
}











